##  Python Dictionaries — DSA Theory

A **Dictionary** in Python is an **unordered, mutable collection of key-value pairs**.  
It is used when you need to store data values where each value is associated with a unique key.

---

###  Characteristics:
- **Unordered (pre Python 3.7)** and **Insertion Ordered (Python 3.7+)**
- **Key-Value Pairs**: Each element is a pair — key and its corresponding value.
- **Keys are unique**, values can be duplicate.
- **Mutable**: Can add, modify, or delete key-value pairs.
- **Heterogeneous**: Both keys and values can be of different data types.



---

###  Common Operations in Dictionaries:

| Operation        | Description                                         |
|:----------------|:----------------------------------------------------|
| `get()`          | Returns value for a key, returns `None` if not found |
| `keys()`         | Returns a list-like view of all keys                |
| `values()`       | Returns a list-like view of all values              |
| `items()`        | Returns a view of key-value pairs                   |
| `update()`       | Updates one dictionary with another's key-value pairs|
| `pop()`          | Removes a key and returns its value                 |
| `popitem()`      | Removes and returns the last inserted item (key, value)|
| `clear()`        | Removes all items from dictionary                   |
| `copy()`         | Returns a shallow copy of the dictionary            |
| `setdefault()`   | Returns value if key exists; otherwise sets a new key with a default value |
| `del` keyword    | Removes a key-value pair or entire dictionary       |

---

### 1. Declaration of Dictionary

In [1]:
# Declaring a dictionary
student = {
    "name": "Alex",
    "age": 21,
    "branch": "Machine Learning"
}
print("Dictionary:", student)

Dictionary: {'name': 'Alex', 'age': 21, 'branch': 'Machine Learning'}

## Functions of Dictionary

### 1. get() — Fetch value by key safely

In [2]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Fetch existing key
print(person.get("name"))        # Output: Alex

# Fetch non-existing key
print(person.get("country"))     # Output: None

Alex
None

### 2. key ()

In [ ]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Get all keys
print(person.keys())

dict_keys(['name', 'age', 'city'])

### 3. values ()

In [ ]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Get all values
print(person.values())

### 4. items ()

In [3]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Get all key-value pairs
print(person.items())

dict_items([('name', 'Alex'), ('age', 25), ('city', 'Mumbai')])

### 5. update ()

In [ ]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Update dictionary with new data
person.update({"age": 26, "country": "India"})
print(person)

{'name': 'Alex', 'age': 26, 'city': 'Mumbai', 'country': 'India'}

### 6. pop ()

In [ ]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Remove a key and get its value
removed_value = person.pop("city")
print("Removed value:", removed_value)
print(person)

Removed value: Mumbai
{'name': 'Alex', 'age': 25}

### 7. popitem ()

In [ ]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Remove last inserted item
last_item = person.popitem()
print("Removed last item:", last_item)
print(person)

Removed last item: ('city', 'Mumbai')
{'name': 'Alex', 'age': 25}

### 8. clear ()

In [ ]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Clear dictionary
person.clear()
print(person)

### 9. copy ()

In [4]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Make a copy
person_copy = person.copy()
print("Copy:", person_copy)

Copy: {'name': 'Alex', 'age': 25, 'city': 'Mumbai'}

### 10. setdefault ()

In [5]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Get value if exists, else set a default
value = person.setdefault("country", "India")
print(person)

{'name': 'Alex', 'age': 25, 'city': 'Mumbai', 'country': 'India'}

### 11. del ()

In [6]:
person = {"name": "Alex", "age": 25, "city": "Mumbai"}

# Delete a specific key
del person["age"]
print(person)

# Delete the entire dictionary
del person
#print(person)  # Uncommenting this will raise a NameError

{'name': 'Alex', 'city': 'Mumbai'}

# DSA Problems

## 1.Given a list of numbers, count how many times each number occurs using a dictionary.

Example

Input: [1, 2, 2, 3, 3, 3, 4]  
Output: {1: 1, 2: 2, 3: 3, 4: 1}

In [ ]:
numbers = [1, 2, 2, 3, 3, 3, 4]
frequency = {}

for num in numbers:
    if num in frequency:
        frequency[num] += 1
    else:
        frequency[num] = 1

print(frequency)

{1: 1, 2: 2, 3: 3, 4: 1}

## 2. Find the Key with Maximum Value

In [ ]:
marks = {"John": 45, "Emma": 88, "Noah": 77}

# Find key with maximum value
topper = max(marks, key=marks.get)
print("Topper is:", topper)

### 3. Merge Two Dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

Output: {'a': 1, 'b': 3, 'c': 4}

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

# Merge using update()
dict1.update(dict2)
print(dict1)

### 4. Invert a Dictionary (Swap Keys and Values)

Example:

Input: {'a': 1, 'b': 2, 'c': 3}  
Output: {1: 'a', 2: 'b', 3: 'c'}

In [ ]:
original = {'a': 1, 'b': 2, 'c': 3}
inverted = {}

for key, value in original.items():
    inverted[value] = key

print(inverted)

## 5. Check if Two Dictionaries are Equal

Example

Input:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 2, "a": 1}

Output: True

Input:
dict1 = {"a": 1, "b": 2}
dict2 = {"a": 2, "b": 1}

Output: False

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 2, "a": 1}

# Compare directly
print(dict1 == dict2)  # True

# Another Example
dict3 = {"a": 2, "b": 1}
print(dict1 == dict3)  # False